$primary-web:#054fe6;
$Second-web:#272829;
$third-web:#007200;


// grey  use black and white

$grey-100:#272829;
$grey-90:#484A4B;
$grey-80:#686A6A;
$grey-70:#7C7E7F;
$grey-60:#A6A8A9;
$grey-50:#C4C6C7;
$grey-40:#E6E8E9;
$grey-30:#F0F2F3;
$grey-20:#F5F7F8;
$grey-10:#F9FCFD;

// blues 
$blue-100:#054fe6;
$blue-90:#013A63;
$blue-80:#01497C;
$blue-70:#014F86;
$blue-60:#2A6F97;
$blue-50:#2C7DA0;
$blue-40:#468FAF;
$blue-30:#61A5C2;
$blue-20:#89C2D9;
$blue-10:#A9D6E5;

// reds 
$red-100:#ed1c24;
$red-90:#cb1d23;
$red-80:#aa1d23;
$red-70:#881e22;
$red-60:#661e21;
$red-50:#451f21;
$red-40:#231f20;

// greens 
$green-100:#004B23;
$green-90:#006400;
$green-80:#007200;
$green-70:#008000;
$green-60:#38B000;
$green-50:#70E000;
$green-40:#9EF01A;
$green-30:#CCFF33;

// purple 

$purple-100:#10002B;
$purple-90:#240046;
$purple-80:#3C096C;
$purple-70:#5A189A;
$purple-60:#7B2CBF;
$purple-50:#9D4EDD;
$purple-40:#C77DFF;
$purple-30:#E0AAFF;

// dark-pallete 
$dark-100:#141414;
$dark-90:#313535;

// white 
$ligth-100:#fff;
$ligth-90:#f8f9fa;
$ligth-80:#f6fff8;

// shadows and opacity 
$shadow-1:rgb(0,0,0,.4);
$shadow-5:rgb(0,0,0,.5);
$shadow-6:rgb(0,0,0,.6);
// shadow-white and blur card 
$shadow-white-1:rgb(255,255,255,.4);
$shadow-white-2:rgb(255,255,255,.5);
$shadow-white-3:rgb(255,255,255,.6);


// socaila media colors 
$faceboock:#0000ff;
$gitHub:#171515;
$twitter:#00acee;
$linkendi:#008080;
$instagram-color:#0000ff;
$instagram-bg:#0000ff;

// code languges and frameworks
$colorcode:#fff;
$html:#e34c26;
$css:#264de4;
$js:#f0db4f;
$jsC:#323330;
$Angular:#dd1b16;
$reactJs:#61DBFB ;
$Sass:#cc6699 ;