@use './colors' as c;

.logo{
    border: 1px solid c.$ligth-100 ;
    text-decoration: none;
    font-size: 1.1875em;
    padding: .625em;
    color: c.$ligth-100;
    
        &:hover{
            opacity: .8;
            color: c.$ligth-100;
        }
    
}
.section{
    width: 100%;
    height: 100vh;
}
@mixin btn-site($pg,$bgc,$c) {
    outline: none;
    border: none;
    padding: $pg;
    background-color: $bgc;
    color: $c;
    transition: .3s ease;
    &:hover{
        opacity: .8;
        transform: scale(1.1);
    }
}


// icons social media 
.icon-social{
    color: c.$grey-100;
    &:first-child(1){
        color:c.$faceboock ;
    }
    &:first-child(2){
        color:c.$twitter;
    }
    &:first-child(3){
        color:c.$linkendi;
    }
    &:first-child(4){
        color:c.$twitter;
    }
}