@use './colors' as c;

.static-text{
    font-size: 2em;
    overflow: hidden;   
}
.type-dinamic{
    color: c.$grey-80;
}
.cursor_typing{
    display: inline-block;
    width: 3px;
    background-color: c.$ligth-100;
    animation: deleteLeater 1s infinite;
    @keyframes deleteLeater {
        0%{background-color: c.$ligth-100;}
        50%{background-color: transparent;}
        100%{background-color: c.$ligth-100;}
    }
}
