@use './colors' as c;
@use './frames';
@use './nav';

h1,h2,h3,h4,h5,p{
    color: c.$grey-100;
    body.dark-active &{
        color: c.$grey-10;
    }
}
html{
    scroll-behavior: smooth;
}

.bg-header{
    margin-top: 5em;
    background-image: url(../src/svg/wave-haikei.svg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.img-responsive{
    width: 400px;
    @media (max-width:765px) {
        width: 100%;
    }
}

.aboutMe{
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../src/circle.svg);
}

.animation-move{
    animation: aniamtion-person 5s  reverse infinite;
}

@keyframes aniamtion-person {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
    
}